body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.merci-box {
    max-width: 600px;
    padding: 2rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}